- name: Set Couchbase master node
  set_fact:
      couchbase_master: "{{ groups.couchbase[0] }}"

- name: Initialize Couchbase nodes
  shell: |
    /opt/couchbase/bin/couchbase-cli cluster-init -c {{ inventory_hostname }} \
    --cluster-username {{ couchbase_user }} \
    --cluster-password {{ couchbase_password }} \
    --services data,index,query \
    --cluster-ramsize {{ couchbase_cluster_ramsize }} \
    --cluster-index-ramsize {{ couchbase_cluster_index_ramsize }}
  when: inventory_hostname == couchbase_master

- name: Wait for the leader to become active
  wait_for:
    delay: 5
    port: "{{ couchbase_port }}"
  delegate_to: "{{ couchbase_master }}"
  when: inventory_hostname != couchbase_master

- name: Add couchbase server to the cluster
  uri:
    url: "http://{{ couchbase_master }}:{{ couchbase_port }}/controller/addNode"
    method: POST
    user: "{{ couchbase_user }}"
    password: "{{ couchbase_password }}"
    body: "hostname={{ inventory_hostname }}&user={{ couchbase_user }}&password={{ couchbase_password }}&services={{ couchbase_services|join(',') }}"
    status_code: 200
    validate_certs: False
  when: inventory_hostname != couchbase_master

- name: Wait for new node to join the cluster
  pause:
    seconds: 10
  when: inventory_hostname != couchbase_master

- name: Rebalance cluster
  shell: |
    /opt/couchbase/bin/couchbase-cli rebalance -c {{ couchbase_master }}:{{ couchbase_port }} \
    --username={{ couchbase_user }} \
    --password={{ couchbase_password }}
  delegate_to: "{{ couchbase_master }}"
  when: inventory_hostname != couchbase_master
